

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  filter: drop-shadow(0 0 2em #000000);
}

#OFSLogo {
  border-radius: 10px;
  margin: 50px 40px;
}
#OFSLogo:hover {
  transform: scale(1.1);
  transition: transform 0.4s ease;
  filter: drop-shadow(0 0 1em #000000);
}


#newUserCont {
  display: flex;
  justify-content: space-around;
}

#newUserCont button{
  padding: 3px 3px;
  margin: 10px 10px;
}

#newUserCont button:hover{
  background-color: #756c6c;
}

form input {
  margin: 10px 10px;
  border-radius: 5px;
}
form:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

#loginBtn {
  cursor: pointer;
  padding: 5px 10px;
  margin: 20px 10px;
  transition: opacity 0.3s ease-in-out;
}

#loginBtn:hover {
  opacity: 25%;
}

#loginBtn:active {
  opacity: 80%;
}
/* roation for logo
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
*/
.card {
  padding: 1em;
}